
BODY { 
	background-color: #ffffff;
	color: #000000;
	font-family: "Arial";
	font-size: 80%;
}

TABLE {
	font-size: 90%;
}

TH {
	background-color: #dddddd;
}

H2 {
	border-top: 2px solid;
}

DIV#footer {
	border-top: 2px solid;
}

DIV#content {
  margin-left: 22em;
  padding: 0 1em;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
  text-align: left;
}

DIV#menu {
  float: left; width: 22em;
  margin: 0; padding: 0;
  list-style-position:outside;
/*  position: fixed; */
}

P.copyright {
	font-size:larger;
	font-weight:bold;
}

LI.separator {
	font-size:larger;
	font-weight:bold;
	list-style-type:none;
        margin-left:-22px;  /* Abstand linker Rand zu Zeichen/image */
}

LI.hw {
	list-style-image:url(imgs/icon_hw.jpg);
        margin-left:50px;
}
LI.sw {
	list-style-image:url(imgs/icon_sw.jpg);
        margin-left:50px;
}
LI.cbm {
	list-style-image:url(imgs/icon_cbm.jpg);
        margin-left:50px;
}
UL.quickfinder LI.subitem {
	list-style-image:none;
        margin-left:-40px;
}
LI.subitem {
	list-style-position: outside;
	/*margin-left:18px;*/
}

UL.menu0 {
  font-size:small;
  padding-left:20px;
}
UL.menu1 {
  padding-left:20px;
}
UL.menu2 {
  padding-left:20px;
}
UL.menu3 {
  padding-left:20px;
}

UL.news {
	list-style-image:url(imgs/news.gif);
}
LI.oldnews {
	list-style-image:url(imgs/oldnews.gif);
}

LI.homepage {
	list-style-image:url(imgs/dir.gif);
	font-size:large;
}

LI.file {
	list-style-image:url(imgs/file.gif);
}

LI.link {
	list-style-image:url(imgs/link.gif);
}

LI.dir {
	list-style-image:url(imgs/dir.gif);
}

LI.openfile {
	list-style-image:url(imgs/openfile.gif);
}

