
BODY { 
	background-color: #ffffff;
	color: #000000;
	font-family: "Arial";
	font-size: 80%;
}

TABLE {
	font-size: 90%;
}

TH {
	background-color: #dddddd;
}

DIV#content {
  margin-left: 22em;
  padding: 0 1em;
/*  border: 1px dashed silver; */
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
}

DIV#menu {
  font-size: 0.91em;
  float: left; width: 22em;
  margin: 0; padding: 0;
/*  border: 1px dashed silver; */
}

LI.separator {
	font-size:larger;
	font-weight:bold;
	list-style-image:url(imgs/arrow.gif);
}

LI.homepage {
	list-style-image:url(imgs/dir.gif);
	font-size:large;
}

LI.file {
	list-style-image:url(imgs/file.gif);
}

LI.link {
	list-style-image:url(imgs/link.gif);
}

LI.dir {
	list-style-image:url(imgs/dir.gif);
}

LI.openfile {
	list-style-image:url(imgs/openfile.gif);
}

