
.rightimg {
	float:right;
	margin: 10px 0 10px 10px;
	width: 300px;
	background-color: #eee;
	padding: 5px;
}

.sidenote {
	float:right;
	margin: 10px 0 10px 10px;
	width: 300px;
	background-color: #eee;
	padding: 5px;
}

li li {
	margin-top: 10px;
}

.quote {
	font-style: italic;
}

BODY { 
	background-color: #ffffff;
	color: #000000;
	font-family: "Arial";
	font-size: 80%;
}

TABLE {
	font-size: 90%;
}

TH {
	background-color: #dddddd;
}

TD.noteicon {
	vertical-align:top;
	text-align:center;
	padding:5px;
}

/*
TABLE.notes TR {
	background-color: #eeeeee;
}
*/

H2 {
	border-top: 2px solid;
}

DIV#footer {
	border-top: 2px solid;
}

DIV#content {
  margin-left: 20em;
  padding: 0 1em;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
  text-align: left;
  /* background-color: #dddddd; */
}

DIV#content table {
	width:auto;
}

DIV#menu {
  float: left; width: 25em;
  margin: 0; padding: 0;
  margin-left: -2em;
  list-style-position:outside;
/*  position: fixed; 
  margin-top: -1.7em;
  background-color: #dddddd; 
 */
  font-size:smaller;
}

/*
DIV.rightbar {
  border-style: solid;
  border-width: 2px;
  float: right;
  width: 25em;
  margin-top: -1.7em;
  margin-right: -2em;
  background-color: #dddddd; 
  font-size:smaller;
}
*/

/*
DIV.overview {
	font-size:larger;
	font-weight:bold;
	background-color: #ffdddd;
}
*/

P.copyright {
	font-size:larger;
	font-weight:bold;
}

LI.separator {
	font-size:larger;
	font-weight:bold;
	list-style-type:none;
        margin-left:-22px;  /* Abstand linker Rand zu Zeichen/image */
}

LI.hw {
	list-style-image:url(imgs/icon_hw.jpg);
        margin-left:50px;
}
LI.sw {
	list-style-image:url(imgs/icon_sw.jpg);
        margin-left:50px;
}
LI.cbm {
	list-style-image:url(imgs/icon_cbm.jpg);
        margin-left:50px;
}
LI.icap {
	list-style-image:url(imgs/icon_icap.jpg);
        margin-left:50px;
}
UL.quickfinder LI.subitem {
	list-style-image:none;
        margin-left:-40px;
}
LI.subitem {
	list-style-position: outside;
	/*margin-left:18px;*/
}

LI.extlink {
	list-style-position: outside;
	list-style-image:url(imgs/icon_extlink.jpg);
}

A.extlink {
    	background: url("imgs/icon_extlink.jpg") center right no-repeat;
    	padding-right: 16px;
}

UL.menu0 {
  font-size:small;
}
UL.menu1 {
}
UL.menu2 {
}
UL.menu3 {
}

UL.news {
	list-style-image:url(imgs/news.gif);
}
LI.oldnews {
	list-style-image:url(imgs/oldnews.gif);
}
LI.hotnews {
	list-style-image:url(imgs/hotnews.gif);
}

DIV.interview {
	margin-left:1em;
}

DIV.interview p.first {
	text-indent:-1em;
}

DIV.interview .me {
	font-weight:bold;
}
DIV.interview .other {
	font-weight:bold;
}

LI.homepage {
	list-style-image:url(imgs/dir.png);
	font-size:large;
}

LI.file {
	list-style-image:url(imgs/file.png);
}

LI.link {
	list-style-image:url(imgs/link.png);
}

LI.dir {
	list-style-image:url(imgs/dir.png);
}

LI.openfile {
	list-style-image:url(imgs/openfile.png);
}

table.content {
	text-align:center;
	empty-cells:show;
	margin:5px;
}
table.content td {
	padding:3px;
}
table.content th {
	padding:5px;
}

table.memmap {
	text-align:center;
	empty-cells:show;
	margin:5px;
}
table.memmap td {
	width:14mm;
	padding:3px;
}
table.memmap th {
	width:14mm;
	padding:5px;
}
/*
table.memmap {
	text-align:center;
	empty-cells:show;
	border-style:solid;
	border-spacing:0px;
	margin:5px;
}

table.memmap td {
	border-width:1px;
	border-style:solid;
	width:14mm;
}
table.memmap th {
	border-width:1px;
	border-style:solid;
	width:14mm;
}

table.memmap th.separator {
	background-color: #ffffff;
	border-style:none;
}
*/

